.button {
  width: 55%;
  height: 55%;
  border-radius: 2em;

  cursor: pointer;
  outline: none;

  font-size: 1em;
  font-weight: 400;
  font-family: 'Fakt Pro Medium';
}

.button--primary {
  background: #409FFF;
  border: 1px solid #409FFF;
  color: white;
}

.button--primary:hover {
  background: #0073e5;
  border: 1px solid #0073e5;
}


.button--secondary {
  background: transparent;
  color: #409FFF;
  border: 1px solid #409FFF;
}

.button--secondary:hover {
  border-color: #0073e5;
  color: #0073e5;
}
