.loader {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loader-main {
  height: 82%;
  padding-top: 10%;
  text-align: center;
}

.loader-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18%;
  width: 100%;
  border-top: 1px solid #D4D4D4;
}

.loader-content {
  padding-top: 1.3em;
}
.loader__text {
  margin: 0;
  font-size: 0.8em;
  font-weight: 300;
  color: #6A6D70;
  margin-top: 0.4em;
}

.ploader__text > a {
  color: #0073e5;
}

.loader__title {
  font-family: "FreightSans Pro Medium";
  margin-top: 0;

  font-weight: 400;
  font-size: 1.4em;
  color: #17181A;
}
