@keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}

.spinner {
  position: relative;
}

.spinner__circle {
  animation: spin 2s infinite linear;
}

.spinner__value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 0.05em;
  font-weight: 500;
  font-size: 4em;
}

.spinner__perc {
    position: relative;
    vertical-align: top;
    top: 0.7em;
    font-size: 0.3em;
    font-weight: 400;
    color: #BABCBF;
}
