.App-box {
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  background: #FFF;
  width: 17.5em;
  height: 25.625em;
  left: 5em;
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.1), 0 10px 30px 0 rgba(0,0,0,0.2);
  border-radius: 3%;
}

.App-logo {
  position: absolute;
  top: 1.4em;
  left: 1.1em;
}

.App-finished {
  text-align: center;
}

.App-done {
  margin-top: 2em;
}

.App-celebrate {
  margin-top: 2em;
  width: 10em;
}