html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  background-image: url("background.jpg");
  background-size:cover;
  background-position:center center;
  height:100vh;
  width: 100vw;
  font-family: 'Fakt Pro Normal';
}

@font-face {
  font-family: 'FreightSans Pro Medium';
  src: local('FreightSans Pro Medium'), url(./fonts/FreightSans-Pro-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Fakt Pro Normal';
  src: local('Fakt Pro Normal'), url(./fonts/FaktProWeb-Normal.woff) format('woff');
}
@font-face {
  font-family: 'Fakt Pro Medium';
  src: local('Fakt Pro Medium'), url(./fonts/FaktProWeb-Medium.woff) format('woff');
}